{% extends 'thutoapp/menu.html' %}

{% block content %}
{% load static %}
<section class="upcoming-meetings" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-8" >
                <div class="card" >
                    <table>
                     <hr>
                     <h5>&nbsp;&nbsp;Subject: {{lesson.subject}}</h5><br>
                     <h6>&nbsp;&nbsp;Topic :{{lesson.topic}}</h6><br>


                  </table>
                    <hr>
        <div class="video-player">
              <video class="video" >
             <source src="{% static 'video/mdu.mp4' %}" type="video/mp4"/>

        <p>Your browser doesn't support HTML5 video.</p>

      </video>
      <div class="controls">
        <div class="progress">
           <div class="progress__filled"></div>
        </div>
         <button class="controls__button toggleButton" title="Toggle Play">►</button>

         <button class="controls__button" data-skip="-10">« 10s</button>
         <button class="controls__button" data-skip="25">10s »</button>
      </div>
    </div>



                </div>

            </div>



        </div>

    </div>

</section>



{% endblock %}